* {
  margin: 0;
  padding: 0;
}

header {
  padding: 30px 0;
}

.logo {
  width: 100%;
  height: auto;
}

.nav_link {
  color: #000000;
  font-family: Circe;
  font-size: 18px;
  font-weight: 700;
}

.section_title-big {
    color: #ffffff;
    font-family: Circe;
    font-size: 60px;
    font-weight: 800;
    line-height: 60px;
    letter-spacing: 0.6px;
}

.header {
    background: url(../img/header/background.png) center/cover no-repeat;
    background-color: #6f2c33;
}

.header_subtitle {
    opacity: 0.8;
    color: #ffffff;
    font-family: Circe;
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 0.24px;
}

.btn-primary {
    color: #010101;
    font-family: Circe;
    font-size: 18px;
    line-height: 18px;
    font-weight: 700;
    letter-spacing: 0.18px;
    border-radius: 5px;
    background-color: #f5f749;
    border: none;
    border-bottom: solid 4px #9fa02e;
    padding: 20px 36px;
}

.header .section_title-big {
  margin-top: 70px;
}

.header_subtitle {
  margin: 30px 0 50px 0;
}

.header_list {
  list-style: none;
  margin-top: 50px;
}

.header_item {
    color: #ffffff;
    font-size: 18px;
    font-family: Circe;
    font-weight: 400;
    letter-spacing: 0.18px;
    margin: 15px 0;
}

.header_item-image {
  padding-right: 20px;
}

.header_item-highlighted {
    color: #f5f749;
    font-family: Circe;
    font-weight: 700;
    letter-spacing: 0.18px;
}